.ui-main__sec-main {
  background-color: #FFFFFF;
  min-height: calc( 100vh - 70px);
  background-image: url("../images/img-sec-main-left.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-position-x: 25%;
  position: relative;
  padding: 0px 2% 200px 5%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-size: 65%;
  margin: auto;
  max-width: $viewport;

  .ui-top-main {

    &__left {
      background-image: none;
      //background-image: url("../images/img-sec-main-right.svg");
      background-repeat: no-repeat;
      background-size: 65%;
      background-position-x: 50%;
      background-position-y: 5%;
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex-grow: 0.6;
      align-items: center;

      .img-mobile {
        display: block;
        width: 90%;
        margin: 30px 0 20px;
      }

      h1 {
        font-size: 40px;
        color: $color-text-default;
        font-family: $font-stack-2;
        font-weight: 800;
        line-height: 45px;
        text-align: center;
        max-width: 90%;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        color: $color-text-default;
        font-family: $font-stack;
        font-weight: 400;
        text-align: center;
        width: 100%;
        max-width: 80%;
        margin-bottom: 20px;
      }

      .ui-btn {
        margin-right: 30px;

        @media screen and (max-width: $md-break) {
          margin: 0 0 20px;
          display: flex;

          &:last-of-type {
            margin: 0;
          }
        }
      }
    }

    &__right {
      width: auto;
      position: relative;
      right: auto;
      padding-right: 0;
      bottom: 0px;
      left: auto;
      margin: 30px auto 0;

      h2 {
        font-size: 20px;
        color: $color-text-default;
        font-family: $font-stack-2;
        font-weight: 800;
        text-align: left;
      }

      .img {
        height: 40px;

        @media screen and (max-width: $sm-break) {
          height: 30px;
        }
      }
    }
  }

  @media screen and (max-width: $md-break) {
    padding-bottom: 130px;
  }

  @media screen and (min-width: $mobile-break) {
    padding-bottom: 0;
    background-size: auto;

    .ui-top-main {

      &__left {
        display: flex;
        flex-direction: column;
        flex-grow: 0.75;
        align-items: flex-start;
        justify-content: center;
        background-position-y: 30%;
        background-position-x: right;
        background-image: url("../images/img-sec-main-right.svg");

        .img-mobile {
          display: none;
        }

        h1 {
          font-size: 50px;
          line-height: 55px;
          margin-bottom: 10px;
          text-align: left;
          max-width: 45%;
        }

        p {
          font-size: 16px;
          max-width: 45%;
          margin-bottom: 40px;
          text-align: left;
        }
      }

      &__right {
        position: absolute;
        right: 10%;
        padding-right: 0px;
        bottom: 150px;
      }
    }
  }

  @media screen and (min-width: $hd-break) {
    min-height: 600px;
    height: calc( 100vh - 100px);
    max-height: 900px;
    padding: 0 6% 0px 7%;
    background-position-x: 10%;
    box-sizing: content-box;

    .ui-top-main {

      &__left {
        //display: flex;
        //flex-direction: column;
        //flex-grow: 0.75;
        //align-items: flex-start;
        //justify-content: center;
        background-size: unset;

        h1 {
          font-size: 70px;
          line-height: 65px;
        }

        p {
          font-size: 20px;
          max-width: 670px;
        }
      }

      &__right {
        bottom: 60px;
        padding-right: 60px;

        h2 {
          font-size: 26px;
        }

        .img {
          height: 60px;
        }
      }
    }
  }
}
