.ui-main {
  position: relative;
  flex: 1;
  margin-top: $navbar-mobile;

  @media screen and (min-width: $mobile-break) {
    //background-color: #329B83;
    margin-top: $navbar;
  }
}

.ui-content {
  width: 100%;
  max-width: 1600px;
  margin: 0 50px;

  @media screen and (min-width: $hd-break) {
    margin: 0 160px;
  }
}

.ui-btn {
  background-color: $color-secondary;
  height: 40px;
  min-width: 140px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 16px;
  font-family: $font-stack;
  color: #FFFFFF;
  font-weight: 700;
  padding: 0 15px;
  min-width: 100px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  line-height: 1.2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;

  &.outline {
    background-color: transparent;
    border: 0;
    box-shadow: 0px 0px 0px 2px $color-secondary-dark inset;
    -webkit-box-shadow: 0px 0px 0px 2px $color-secondary-dark inset;
    -moz-box-shadow: 0px 0px 0px 2px $color-secondary-dark inset;
    color: $color-secondary-dark;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-secondary-dark;

    &.outline {
      background-color: #f0f0f0;
    }
  }
  @media screen and (min-width: $hd-break) {
    height: 60px;
    min-width: 200px;
  }
}
