$font-stack: 'Open Sans', sans-serif;
$font-stack-2: 'Montserrat', sans-serif;
$color-text-default: #1A1F23;
$color-bg: #FFFFFF;
$color-primary: #1A1F23;
$color-secondary: #FF6E3A;
$color-secondary-dark: #ff631a;

$mobile-break: 768px;
$hd-break: 1920px;
$viewport: 1920px;
$max-view: 400px;
$navbar: 100px;
$navbar-mobile: 70px;
