$font-stack: 'Open Sans', sans-serif;
$font-stack-2: 'Montserrat', sans-serif;
$color-text-default: #1A1F23;
$color-bg: #FFFFFF;
$color-primary: #1A1F23;
$color-primary-dark: #0D1013;
$color-secondary: #FF6E3A;
$color-secondary-dark: #ff631a;

$sm-break: 375px;
$mobile-break: 800px;
$hd-break: 1440px;
$viewport: 1920px;
$max-view: 400px;
$navbar: 100px;
$navbar-mobile: 70px;
